.blocks  {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 650px;
	}

.block {
	display: inline;
	border: 1px solid black;
	width: 300px;
	height: 300px;
	float: left;
	overflow: auto;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	opacity: 0.5;
	transition: 0.3s;
	}
	
.block:hover {
	opacity: 1;
	}

.block div {
  position: relative;
  top: 80%;
  transform: translateY(-80%);
  background-color: #fff;
  display: inline;
  border: 1px dotted;
  padding: 3px;
  }
	
footer {
	clear: left;
	}
	
@media only screen and (max-device-width: 768px) {
		
	main {
		padding-left: 200px;
		padding-right: 200px;
		}

	}
}